main#details{
    position: relative;
    background-color: #f6f6f6;

    .divider{
        height: 70px;
        background-color:  $blueComics;
    }

    .thumbArticle{
        position: absolute;
        top:-240px;
        left: 20%;
        width: max-content;
    }

    section#consoleDetails{
        position: relative;
        @include px(20%);
        background-color: #f6f6f6;
        width: 80%;
        @include my(70px);

        .cont-price{
            width: 100%;
            display: flex;
            height: 50px;
            justify-content: space-between;
            margin-bottom: 20px;
            color: $white;
            font-weight: bold;
            background-color: #55ba59;


            .info-price{
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include px(2%);
            }


            .check-Availability{
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid black;
                @include px(2%);



                a.dropdown-toggle{
                    text-decoration: none;
                    color: $white;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        p.description{
            font-size: 16px;
        }

        div.cont-pubblicità{
            position: absolute;
            top: 20px;
            right: 0;
            text-align: right;

            p{
                margin: 0;
                font-weight: bold;
            }
        }
    }


    section#infoDetails{
        @include px(20%);
        padding-bottom: 100px;
        background-color: lightgrey;
        width: 100%;
        display: flex;

        table{
            display: block;
            margin-top: 25px;
            thead{
                border-bottom: 1px solid #000;
                th{
                    padding-bottom: 20px;
                    font-size: 22px;
                }
            }

            tbody{
                tr{
                    border-bottom: 1px solid #000;
                    padding-right: 100%;
                    width: 100%;
                    td.headCell{
                        width: 30%;
                        font-size: 12px;
                        font-weight: bold;
                        @include py(8px);
                    }

                    td.artists-name,td.writer-name{
                        padding-right: 100%;
                        @include py(8px);
                        width: 70%;
                        padding-right: 10px;
                        font-size: 12px;
                    }
                }
            }
        }

        table:first-child{
            padding-left: 0;
            padding-right: 20px;
        }
        table:last-child{
            padding-right: 0%;
            padding-left: 20px;
            // text-align: left;
            thead{
                width: 100%;
                tr{
                    th.table-offset{
                        width: 70%;
                        padding-left: 100%;
                        padding-right: 100%;
                        // @include px(100%);
                    }
                }
            }
        }
    }




    section#infoDC{
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include px(25%);
        background-color: $blueComics;

        div{
            img{
                height: 50px;
                width: 50px;
                object-fit: contain;
            }
            span{
                padding-left: 20px;
                color: $white;
            }
        }
    }




}
